body {
    font-family: "Lato", sans-serif;
}

.overlay {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    background: transparent;
    width: 100%
}

/* change style */

.fixed.overlay {
    position: fixed;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.ui.segment.header-line1 {
    background-color: white;
}

.header-line2__menu__logo__text {
    font-size: 2em;
    color: #2185d0;
}

.masthead-background {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 700px;
    background-image: url('./../images/background.jpeg');
    background-position: center;
    background-attachment: scroll;
    background-clip: content-box;
    background-size: cover;
}

.masthead-background__overlay {
    top: 0px;
    width: 100%;
    height: 700px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.masthead__container {
    height: 700px;
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: hidden;
}

.masthead__content__wrapper {
    top: 200px;
    position: relative;
}

.masthead__content--fontweight.ui.header {
    font-weight: 300;
}

.ui.header.masthead__content__line1--fontsize {
    font-size: 4em;
}

.ui.header.masthead__content__line2--fontsize {
    font-size: 2em;
}

.ui.primary.button.masthead__content__calltoaction {
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .masthead-background {
        height: 450px;
        background-position-y: 70px;
    }
    .masthead-background__overlay {
        height: 450px;
    }
    .masthead__container {
        height: 450px;
    }
    .ui.header.masthead__content__line1--fontsize {
        font-size: 2em;
    }
    .ui.header.masthead__content__line2--fontsize {
        font-size: 1em;
    }
    .ui.primary.button.masthead__content__calltoaction {
        margin-top: 10px;
    }
}

.content__container {
    position: absolute;
    top: 700px;
    /*Media Query*/
    width: 100%
}

.ui.segment.content__top-container {
    width: 50%;
    position: relative;
    height: 200px;
    /*Media Query*/
    text-align: center;
    margin-left: 25%;
    margin-top: 5%
}

.content__top__line1 {
    margin-bottom: 0.36585em;
    line-height: 1.34146;
    font-size: 2.5625em;
    color: #24344E;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    .content__container {
        top: 450px;
    }
    .ui.segment.content__top-container {
        width: 100%;
        height: 200px;
        margin-left: 0;
        margin-top: 5%;
    }
    .content__top__line1 {
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 1.8em;
    }
}

.ui.segment.content__separator-wrap {
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
    height: 100px;
    margin-bottom: 80px
}

.ui.segment.content__separator-wrap>.content__separator-content {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    height: 100px;
    background-color: #009cde;
    top: 45px;
    font-size: 3em;
    padding-top: 40px;
    text-align: center;
    color: white
}

@media only screen and (max-width: 767px) {
    .ui.segment.content__separator-wrap {
        background-color: #f3f3f3;
        height: 50px;
        margin-bottom: 40px
    }
    .ui.segment.content__separator-wrap>.content__separator-content {
        width: 80%;
        height: 50px;
        margin-left: 5%;
        top: 20px;
        font-size: 1.5em;
        padding-top: 15px;
    }
}

.ui.segment.content__body__container {
    position: "relative";
}

.faq>.ui.styled.accordion>.title {
    font-size: 1.5em;
}

.faq>.ui.styled.accordion>.content {
    font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
.faq>.ui.styled.accordion>.title {
    font-size: 1em;
}

.faq>.ui.styled.accordion>.content {
    font-size: .9em;
}
}